body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
    width: 100%;
}

nav {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    right: 5px;
    top: 5px;
}

#menu-burger {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 10px;
}

.bi, .bi-list {
    font-size: xxx-large;
    color: white;
    text-align: center;
}

ul#menu {
    position: absolute;
    z-index: 5;
    background-color: white;
    margin-top: 55px;
    width: 100%;
    display: none;
}

ul li {
    list-style: none;
    margin: 10px auto;
    padding: 5px;
}

ul li a {
    text-decoration: none;
    color: black;
}

.titre {
    position: absolute;
    width: 100%;
    margin-top: 60px;
    color: white;
    text-align: center;
}

#datapicker {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.74);
    bottom: -550px;
    position: relative;
    padding-top: 15px;
    align-content: center;
}

a.form-control.btn-success {
    text-decoration: none;
    text-align: center;
}


/*=================================SECTION===============================================*/
section.container {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

section.container select {
    width: 25%;
}

/*=================================MAIN===============================================*/
main figure {
    align-items: center;
    margin: 30px auto;
    width: 100%;
    justify-content: space-between;
}

main figure div.carrousel {
    width: 300px;
}

.next {
    position: absolute;
    top: 60px;
    right: -50px;
    color: black;
    font-size: 40px;
}

.prev {
    position: absolute;
    top: 60px;
    left: -50px;
    color: black;
    font-size: 40px;
    z-index: 9;
}

main figure figcaption {
    display: flex;
    flex-direction: column;
    /*margin-left: 15%;*/
}

button.btn.btn-success {
    width: 150px;
    margin: 10px 0;
}

/*=================================FOOTER===============================================*/
footer figure {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
}

footer figure img {
    width: 200px;
}

/*==================================MEDIA================================================*/
@media screen and (max-width: 768px) {

    #datapicker {
        bottom: -285px;
    }

    main figure {
        justify-content: space-between;
    }

    main figure figcaption {
        justify-content: center;
    }

    main figure figcaption h4,
    main figure figcaption p,
    main figure figcaption span {
        display: none;
    }

    main figure div.carrousel i.next{
        right: -30px;
    }

    main figure div.carrousel i.prev{
        left: -30px;
    }
}

/*=================================FIN MEDIA===============================================*/